/* general */
body {
  background: rgb(255, 255, 255);
}
.th-top-offset {
  height: 80px;
}
.th-logo-1 {
  height: 65px;
  background-position-x: left;
  background-position-y: center;
  background-size: contain;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 600px) {
  .th-logo-1 {
    height: 45px;
  }
  .th-top-offset {
    height: 60px;
  }
}
.th-logo-2 {
  height: 45px;
  background-position-x: left;
  background-position-y: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.th-rob {
  font-family: "Roboto", sans-serif;
}
.th-12 {
  font-size: 12px;
}
.th-14 {
  font-size: 14px;
}
.th-16 {
  font-size: 16px;
}
.th-18 {
  font-size: 18px;
}
.th-20 {
  font-size: 20px;
}
.th-26 {
  font-size: 26px;
}
.th-28 {
  font-size: 28px;
}
.th-24 {
  font-size: 24px;
}
.th-30 {
  font-size: 30px;
}
.th-32 {
  font-size: 32px;
}
.th-34 {
  font-size: 34px;
}
.th-36 {
  font-size: 36px;
}
.th-48 {
  font-size: 48px;
}
.th-58 {
  font-size: 58px;
}
.th-72 {
  font-size: 72px;
}

@media only screen and (max-width: 767px) {
.th-16 {
  font-size: 14px;
}
.th-18 {
  font-size: 15px;
}
.th-24{
  font-size: 18px
}
.th-30 {
  font-size: 22px;
}
.th-32 {
  font-size: 24px;
}
.th-34 {
  font-size: 26px;
}
.th-36 {
  font-size: 28px;
}

.th-48 {
  font-size: 32px;
}
.th-58 {
  font-size: 38px;
}
.th-72 {
  font-size: 50px;
}
}

@media only screen and (max-width: 992px) {
.th-16 {
  font-size: 15px;
}
.th-18 {
  font-size: 16px;
}
.th-24{
  font-size: 20px
}
.th-30 {
  font-size: 24px;
}
.th-32 {
  font-size: 26px;
}
.th-34 {
  font-size: 28px;
}
.th-36 {
  font-size: 30px;
}

.th-48 {
  font-size: 34px;
}
.th-58 {
  font-size: 40px;
}
.th-72 {
  font-size: 50px;
}
} 

/*font media query ends*/
/* font weight */
.th-thin {
  font-weight: 100;
}
.th-light {
  font-weight: 300;
}
.th-regular {
  font-weight: 400;
}
.th-medium {
  font-weight: 500;
}
.th-bold {
  font-weight: 700;
}
/* font color */
.th-black {
  color: #1a1d22;
}
.th-lt-black {
  color: #363840;
}
.th-grey {
  color: #30373f;
}
.th-lt-grey {
  color: #7b7d84;
}
.th-orange {
  color: #f2994a;
}
.th-white {
  color: #ffffff;
}

/* Link */
.th-link-orange:hover {
  text-decoration: none;
  color: #f2994a;
}
.th-link-white:hover {
  text-decoration: none;
  color: #ffffff;
}
.th-link-black:hover {
  text-decoration: none;
  color: #1a1d22;
}

/* BUTTON */
.th-btn-solid {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #ffffff;
  background: #1a1d22;
  border-radius: 3px;
  border: none;
  padding: 10px 24px;
  font-weight: 600;
  width: 100%;
}
.th-btn-trans {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #1a1d22;
  background: #ffffff00;
  border-radius: 3px;
  border: 1px solid #1a1d22;
  padding: 10px 24px;
  font-weight: 600;
  width: 100%;
}
.th-btn-white {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #1a1d22;
  background: #ffffff;
  border-radius: 3px;
  border: 1px solid #ffffff;
  padding: 10px 24px;
  font-weight: 600;
}

/* BG Color */
.th-bg-black {
  background: #000000;
}
.th-bg-grey {
  background: #edeef0;
}
.th-bg-orange {
  background: #f2994a;
}
.th-bg-white {
  background: #ffffff;
}
/*margin*/
.mb-0 {
  margin-bottom: 0;
}
.mt-0 {
  margin-top: 0;
}
/*padding*/
.pr-0 {
  padding-right: 0px;
}
.pl-0 {
  padding-left: 0px;
}
.p-0 {
  padding: 0px;
}
.px-30 {
  padding-left: 30px;
  padding-right: 30px;
}
.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}

/*strike through*/
.th-strike {
  text-decoration: line-through;
}
/*Radio button*/
/* CARDS */
.th-ribbon {
  margin-top: 10px;
  margin-left: 16px;
  padding: 12px 6px;
  height: 20px;
  background: #ffffff;
  font-family: arial;
  font-weight: 400;
  text-transform: capitalize;
  color: #1a1d22;
  font-size: 10px;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 18px 32px rgba(0, 0, 0, 0.08);
  border-radius: 3px;
}
.th-card-img {
  height: 45vh;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3px 3px 0px 0px;
}
.th-card {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
  background-color: #fff;
  border-radius: 3px 3px 0px 0px;
}
.th-card-body {
  background-color: none;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.hero-image {
  background-color: #cccccc;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  position: absolute;
  top: 30%;
  left: 15%;
}
.hero-text2 {
  position: absolute;
  top: 80%;
}
.bgimage {
  width: 100%;
  height: 70vh;
  /*background: url('https://images.unsplash.com/photo-1438109491414-7198515b166b?q=80&fm=jpg&s=cbdabf7a79c087a0b060670a6d79726c');*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /*background-attachment: fixed;*/
}

.img-border-radius {
  border-radius: 3px 3px 0px 0px;
}
::-webkit-scrollbar {
  display: none;
}

.scroll-img {
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 3px 3px 0px 0px;
  padding-right: 12px;
}

.btn.focus,
.btn:focus,
.custom-select,
.custom-select:focus {
  border-color: transparent;
  outline: 0;
  box-shadow: none !important;
}
input:focus {
  outline: none;
}
.custom-date {
  border-color: transparent;
  outline: 0;
  box-shadow: none !important;
  width: 100px;
  height: 36px;
}
.custom-date::placeholder {
  font-size: 16px;
  font-weight: 600px;
  color: #1a1d22;
}
.th-search-hotel {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
  border-radius: 3px;
}
.th-promo-form {
  display: block;
  width: 100%;
  font-size: 16px;
  color: #516378;
  background-image: none;
  background: #ffffff;
  border: solid 1px #8a9bad;
  border-radius: 3px 0px 0px 3px;
  margin-top: 10px;
  padding: 1px 4px;
  height: 35px;
  text-transform: uppercase;
}

.th-promo-btn {
  line-height: 22px;
  color: #ffffff !important;
  font-size: 0.8em !important;
  font-weight: 600;
  background: #30373f;
  border: none;
  height: 35px;
  margin-top: 10px;
  border-radius: 0px 3px 3px 0px;
  padding: 0px 14px
}


/*=====Radio Button=======*/

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 12px;
    display: inline-block;
    color: #666;
}
/* [type="radio"]:checked + label:before, */
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 12px;
    height: 12px;
    border: 1px solid #000;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:before{
      content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 12px;
    height: 12px;
    border: 1px solid #F2994A;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 6px;
    height: 6px;
    background: #F2994A;
  
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
/*====Radio Button========*/
@media only screen and (max-width: 767px) {
  .th-mob-display{
    display: block
  }
}
@media only screen and (max-width: 767px) {
  .th-mob-txt-center{
    text-align: center;
  }
}
.top-confirm-book{
background: #FFFFFF;
border: 1px solid #EDEEF0;
box-sizing: border-box;
box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
border-radius: 3px;
}

a.morelink {
  text-decoration:none;
  outline: none;
  font-weight: 700;
 color:#30373F;
}
.morecontent span {
  display: none;
}
a.morelink-orange{
   color: #f2994a;
   text-decoration:none;
  outline: none;
  font-weight: 700;
}
/*img-icon-details text*/
.img-icon-details{
  vertical-align: inherit;
  width:14px;
}
@media screen and (min-width: 992px) {
        .modal-lg {
         max-width: 950px; /* New width for large modal */
        }
    }

.close {
    
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 1 !important;
}

/*=====================*/
/* The Modal (background) */
.th-popup {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top:10px ; /* Location of the box */
  left: 0;
  top: 0;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.popup-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80vw;
  
}

/* The Close Button */
.th-close {
  color: #aaaaaa;
  /*float: right;*/
  padding-left:90%;
  font-size: 28px;
  font-weight: bold;
  
}

.th-close:hover,
.th-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}